
Archive/

fragen.txt

hip_expl.txt

hip_main.dat

hip_sandbox.py

hip_simple_plot.py

image.jpg

list_of_points.py

process.txt

sandbox.py

save_data.py

save.dat

save.txt

search_dictionary.py

starlist_4.8mag_0bp.dat

starlist_4.8mag_30000bp.dat

test_stars.txt

tkinter_sandbox.py

sort_dict.py

find_angle.py

save.bak

save.dir

save.txt.bak

save.txt.dat

save.txt.dir

star_save.bak

star_save.dat

star_save.dir

test_save.bak

test_save.dat

test_save.dir

star_save

star_save_test
